
#toc {
	display: none;
}

@media screen and (min-width: 992px) {

	#toc {
		display: block;
		position: fixed;
		right: 0;
		top: 270px;
		text-align: right;
		font-family: 'Alegreya Sans SC', sans-serif;
		z-index: 99;
	}

	.toc-item {
		list-style: none;
	}

	.toc-item.active a {
		background: #eb9f69;
		color: #fff;
		transition: all .25s;
	}

	.toc-item a {
		padding: 3px 5px;
		background: #fff;
		margin-bottom: 2px;
	}

	.menu a:after {
		background-color: #eb9f69!important;
	}



}